[Unit]
Description=ONGAKU API service

After=postgresql.service
After=network-online.target
Wants=network-online.target

StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=exec
User=kuso
Group=kuso
EnvironmentFile=/etc/environment
WorkingDirectory=/home/kuso
ExecStart=/home/kuso/api -port=4000 -sql-dsn=${ONGAKU_DB_DSN} -redis-dsn=${ONGAKU_REDIS_DSN} -env=production

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target