{{define "subject"}}Reset your Greenlight password{{end}}

{{define "plainBody"}}
Send a `PUT /v1/users/password` request with the following JSON body to set a new password:

{"password": "your new password", "token": "{{.passwordResetToken}}"}

One-time use and expires in 30 minutes...

If you need another token make a `POST /v1/tokens/password-reset` request.
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Send a <code>PUT /v1/users/password</code> request with the following JSON body to set a new password:</p>
    <pre><code>
    {"password": "your new password", "token": "{{.passwordResetToken}}"}
    </code></pre>  
    <p>One-time use and expires in 30 minutes...</p>
    <p>If you need another token make a `POST /v1/tokens/password-reset` request.</p>
  </body>
</html>
{{end}}