{{define "subject"}}Welcome to Ongaku API{{end}}

{{define "plainBody"}}
Send PUT request to `/v1/users/activated` with the following JSON body to activate your account:

{"token": "{{.activationToken}}"}

One-time use and expires in 1 day...
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi,</p>
    <p>Just a test message...</p>
    <p>Send PUT request to `/v1/users/activated` with the following JSON body to activate your account:</p>
        <pre><code>
    {"token": "{{.activationToken}}"}
    </code></pre>
    <p>One-time use and expires in 1 day...</p>
</body>

</html>
{{end}}