{{define "subject"}}Welcome to Ongaku API{{end}}

{{define "plainBody"}}
Hi,

Just a test message...
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi,</p>
    <p>Just a test message...</p>
</body>

</html>
{{end}}